/* Custom style for jsTree icon */
.jstree-themeicon-custom {

    background-position: center center !important;
    background-size: contain !important;
    width: 30px;
    /* Set custom width if needed */
    height: 30px;
    /* Set custom height if needed */
}
.stats-main-info{
    border-top: 1px solid #cccccc43;
}